*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

:root{
    --bg-color: #101113;
    --text-color: #fff;
    --main-color: #ffd700;
    --h1-font:6rem;
    --p-font:1rem;
}

nav{
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8%;
    transition: all .55s ease;
    background: transparent;
    
}

header{
    background-image: url(../css/media/banner-inicio.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: var(--text-color);
}

header::before{
    position: absolute;
    content: '';
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .6;
}

.logo{
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 28px;
    font-weight: bold;

}

.logo i{
    color: var(--main-color);
    font-size: 32px;
    margin-right: 5px;
}

.navbar {
    display: flex;

}

.navbar a{
    color: var(--other-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin: 0 30px;
    transition: all .55s ease

}

.navbar a:hover{
    color: var(--main-color);
}

.navbar a.active{
    color: var(--main-color); 
}

.nav-icons{
    display: flex;
    align-items: center;
}

#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display:none;
}

.nav-icons i{
    margin-right: 25px;
    font-size: 25px;
    cursor: pointer;
    transition: all .55s ease;

}

.nav-icons i:hover{
    transform: translateY(-5px);
    color: var(--main-color);
}

.h-btn{
    display: inline-block;
    padding: 10px 25px;
    color: var(--text-color);
    background: #1c7ce2;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    border: 2px solid #1c7ce2;
    margin-right: 20px;
    transition: all ease .55s;
}

.h-btn:hover{
    background: #4ca3ff;
    border: 2px solid var(--text-color);
    color: var(--text-color);
}

section{
    padding: 0 12%;
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
}

.coursesearch input{
    background: #0d0f14;
    opacity: .8;
    border: 1px solid #ffd700;
    border-radius: .3rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 40px;
    width: 100%;
    color: #fff;
    letter-spacing: .16px;
    font-size: 1rem;
    font-weight: 400;
    padding: .375rem 2.5rem .375rem 1rem;
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.home h1{
    font-size: 50px;
    margin: 20px 0;
}

.home h4{
    margin: 20px 0;
    font-weight: 300;
    font-size: 15px;
}
.home-text .coursesearch p{
    margin: 20px 0;
    font-weight: 300;
    font-size: 15px;
}



.coursesearch{
    padding: 0 20%;
}

.home-text span{
    color: var(--main-color);
}

@media (max-width: 1070px){
    header{
        padding: 10px 3%;
        background-color: var(--text-color);
    }
    #menu-icon{
        display: initial;
    }
    .navbar{
        position: absolute;
        top: -700;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: #000;
        transition: all ease .55s;
        text-align: left;

    }
    .navbar a{
        display: block;
        font-size: 23px;
        font-weight: 400;
        margin: 0.8rem 1.8rem;
        color: var(--text-color);
    }
    .navbar.open{
        top:100%
    }
}

hr .line-oferta-basic{
    vertical-align: middle;
    width: 30%;
    display: inline-block;
    border: 1px solid black; 
}

hr .line-oferta-premiun{
    vertical-align: middle;
    width: 30%;
    display: inline-block;
    border: 1px solid black; 
}

/* BENEFICIOS */

section.beneficios{
    width: 100%;
}

.container-beneficios{
    padding: 80px 0;
}

.beneficios-title{
    display: flex;
    justify-content: center;
    padding: 20px 0;

}

.beneficios-icons{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

}

.beneficios-icons1, .beneficios-icons2{
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
}


.beneficios-icons article{
    display: flex;
    flex-direction: column;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    width: 20%;
    align-items: center;
    padding: 2% 1%;

}

.beneficios-icons img{
    width: 50%;

}

section.beneficios article p{
    text-align: center;
    padding-top: 10px;
}


/* HERRAMIENTAS */
section.herramientas{
    width: 100%;
    padding: 30px 0;
}


.container-herramientas{
    width: 70%;
    margin: auto;
}

.herramientas-icons{
    display: flex;
    justify-content: center;
    gap: 20px;
    border: 1px solid #dfdfdf;
    border-radius: 15px;
    width: 100%;
    margin: 50px 0;
    padding: 20px 0;

}

.herramientas-icons img{
    height: 50px;
}

.herramientas-text h2{
    margin: 20px;
}



/*  PAGOS */

section.pagos{
    width: 100%;
}

.container-pagos{
    padding: 5% 0;
}

.pagos-ofertas{
    display: flex;
    justify-content: center;
    gap: 1px;

}

.oferta-basic, .oferta-premiun{
    border: 1px solid black;
    border-radius: 6px;
    padding: 1% 1%;
    width: 30%;
}

.btn-ofertas{
    display: flex;
    border: 1px solid transparent;
    border-radius: 6px;
    width: 100%;
    justify-content: center;
    margin: 10px 0 ;
    padding: 4px 0;
    color: var(--text-color);
    background-color: #1c7ce2;
    font-size: 12px;
}

h2{
    text-align: center;
    padding: auto;
}

.pagos-text{
    padding: 50px 0;
}

.pagos-text p{
    text-align: center;
}

.oferta-beneficios{
    display: flex;
    flex-direction: column;
}

.oferta-beneficios p{
    margin: 5px 0;
}

.precio{
    display:flex;
    align-items: center;

}

.container-oferta-basic, .container-oferta-premiun{
    display: flex;
    justify-content: space-between;
}

.precio .precio-oferta{
    font-size: 40px;

}
/* CONTACTO */

section.contacto{
    width: 100%;
}

.container-contacto{
    padding: 5% 0;
}


/* FOOTER */
footer{
    width: 100%;
    background: #0d0f14;
}

footer p{
    color: var(--text-color);
}